<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.TicketSetMapper">


    <insert id="insert" parameterType="com.entity.TicketSetEntity" useGeneratedKeys="true"
            keyProperty="ticketID">
        insert into ticketset
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ticketname != null">ticketname,</if>
            <if test="ticketprice != null">ticketprice,</if>
            <if test="concessionprice != null">concessionprice,</if>
            <if test="ticketType != null">ticketType,</if>
            <if test="issale != null">issale,</if>
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ticketname != null">#{ticketname},</if>
            <if test="ticketprice != null">#{ticketprice},</if>
            <if test="concessionprice != null">#{concessionprice},</if>
            <if test="ticketType != null">#{ticketType},</if>
            <if test="issale != null">#{issale},</if>
        </trim>
    </insert>

    <delete id="delete">
        delete from ticketset where ticketID =#{ticketID}
    </delete>

    <update id="update" parameterType="com.entity.TicketSetEntity">
        update ticketset
        <trim prefix="set" suffixOverrides=",">
            <if test="ticketname != null">ticketname = #{ticketname},</if>
            <if test="ticketprice != null">ticketprice = #{ticketprice},</if>
            <if test="concessionprice != null">concessionprice = #{concessionprice},</if>
            <if test="ticketType != null">ticketType = #{ticketType},</if>
            <if test="issale != null">issale = #{issale},</if>
        </trim>
        where ticketID = #{ticketID}
    </update>


    <select id="list" resultType="com.entity.TicketSetEntity">
        select * from ticketset
    </select>


</mapper>